.label {
    -fx-background-color: #2e2f2f;
}
.button {
    -fx-text-fill: #f1f184;
    -fx-background-insets: 1 1 1 1;
    -fx-background-radius: 0em;
    -fx-border-color: #2e2f2f;
}
.button:hover {
    -fx-text-fill: #f1f184;
    -fx-background-insets: 1 1 1 1;
    -fx-background-radius: 0em;
    -fx-border-color: #2e2f2f;
    -fx-background-color: #2e2f2f;
}
.text-field:hover {
    -fx-background-color: #9da1a1;
}
.text-field {
    -fx-text-fill: #f1f184;
    -fx-border-color: #2e2f2f;
}