.table-view {
    -fx-background-color: #545656;
    -fx-text-fill: #f1f184;
    -fx-border-color: #2e2f2f;
}
.table-view .column-header {
    -fx-background-color: #545656;
    -fx-border-color: #2e2f2f;
    -fx-border-width: .2;
    -fx-text-background-color: #f1f184;

}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-row-cell{
    -fx-background-color: #7a7d7d;
    -fx-text-background-color: #f1f184;
    -fx-border-color: #2e2f2f;
    -fx-border-width: .2;
}
.table-row-cell:hover{
    -fx-border-color: #f1f184;
    -fx-border-width: .4;
}
.table-row-cell:selected{
    -fx-background-color: #f1f184;
    -fx-text-background-color: #7a7d7d;
    -fx-border-color: #2e2f2f;
    -fx-border-width: .2;
    -fx-text-alignment: CENTER;
    -fx-wrap-text: CENTER;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #7a7d7d;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #7a7d7d;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .table-column {
    -fx-alignment: CENTER;
}
.image-view:hover {
    -fx-background-color: BLACK;
}
